.hero{
    background-image: url(https://media.wired.com/photos/5bd883dc5b66a763e54f0b22/191:100/w_1280,c_limit/macbookair3.jpg);
    min-height: 85vh !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    height: 300px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    box-shadow: 3px 3px 4px #3f3e3e;
}
.card img{
    margin-top: 15px;
    max-height: 200px;
    max-width: 200px; 
}

.sidekick{
    background-image: url(/Blamazon/Project2/img/S22.jpeg);
    min-height: 85vh !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
    
}